
{% extends "dashboard_base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>Action Logs</h5>
        <a href="/actionlog/add/" class="btn btn-primary">Add New</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Plant</th>
<th scope="col">Type</th>
<th scope="col">Date</th>
<th scope="col">Notes</th>
                <th scope="col">Updated at</th>
            </tr>
        </thead>
        {% if actionlogs %}
        <tbody class="align-middle">
        {% for item in actionlogs %}
            <tr class="table-row-link" onclick="window.location='{% url 'actionlog' item.id %}'">
                <td>{{ item.plant }}</td>
<td>{{ item.actiontype }}</td>
<td>{{ item.date }}</td>
<td>{{ item.notes }}</td>
                <td>{{ item.updated_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
<style>
.table-row-link {
    cursor: pointer;
    transition: background 0.1s;
}
.table-row-link:hover {
    background: #f1f3f4;
}
</style>
{% endblock content %}
