
{% extends "dashboard_base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>Action Types</h5>
        <a href="/actiontype/add/" class="btn btn-primary">Add New</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
<th scope="col">Category</th>
<th scope="col">Description</th>
<th scope="col">Created</th>
                <th scope="col">Updated at</th>
            </tr>
        </thead>
        {% if actiontypes %}
        <tbody class="align-middle">
        {% for item in actiontypes %}
            <tr class="table-row-link" onclick="window.location='{% url 'actiontype' item.id %}'">
                <td>{{ item.name }}</td>
<td>{{ item.category }}</td>
<td>{{ item.description }}</td>
<td>{{ item.created_at }}</td>
                <td>{{ item.updated_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
<style>
.table-row-link {
    cursor: pointer;
    transition: background 0.1s;
}
.table-row-link:hover {
    background: #f1f3f4;
}
</style>
{% endblock content %}
