{% extends "dashboard_base.html" %} {% load static %} {% block content %}
<style>
  /* Makes entire tr clickable and shows pointer on hover */
  .table-row-link {
    cursor: pointer;
    transition: background 0.1s;
  }
  .table-row-link:hover {
    background: #f1f3f4;
  }
</style>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><h5>Plants</h5></th>
      <th scope="col">Name</th>
      <th scope="col">Strain</th>
      <th scope="col">Environment</th>
      <th scope="col">Grow</th>
      <th scope="col">Group</th>
      <th scope="col">Medium</th>
      <th scope="col">Updated at</th>
    </tr>
  </thead>
  {% if plants %}
  <tbody class="align-middle">
    {% for plant in plants %}
    <tr
      class="table-row-link"
      onclick="window.location='{% url 'plant' plant.id %}'"
    >
      <th scope="row">
        {% if plant.profile_image %}
        <img
          src="{{ plant.profile_image.url }}"
          class="rounded-circle border"
          alt="{{ plant.name }}"
          style="
            width: 35px;
            height: 35px;
            object-fit: contain;
            background: #f8f9fa;
          "
        />
        {% endif %}
      </th>
      <td>{{ plant.name }}</td>
      <td>{{ plant.strain }}</td>
      <td>{{ plant.environment }}</td>
      <td>{{ plant.grow }}</td>
      <td>{{ plant.group }}</td>
      <td>{{ plant.medium }}</td>
      <td>{{ plant.updated_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{% endblock content %}
