
{% extends "dashboard_base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="container-fluid mt-4">
        <div class="card p-4 shadow-lg" style="min-height: 60vh">
            <h1 class="mb-1">{{ plant.name|default:"Plant" }}</h1>
            <dl class="row mt-4">
                <dt class="col-sm-3">Strain:</dt><dd class="col-sm-9">{{ plant.strain }}</dd>
<dt class="col-sm-3">Type:</dt><dd class="col-sm-9">{{ plant.type }}</dd>
<dt class="col-sm-3">Environment:</dt><dd class="col-sm-9">{{ plant.environment }}</dd>
<dt class="col-sm-3">Grow:</dt><dd class="col-sm-9">{{ plant.grow }}</dd>
<dt class="col-sm-3">Group:</dt><dd class="col-sm-9">{{ plant.group }}</dd>
<dt class="col-sm-3">Medium:</dt><dd class="col-sm-9">{{ plant.medium }}</dd>
<dt class="col-sm-3">Description:</dt><dd class="col-sm-9">{{ plant.description }}</dd>
<dt class="col-sm-3">Created:</dt><dd class="col-sm-9">{{ plant.created_at }}</dd>
<dt class="col-sm-3">Updated:</dt><dd class="col-sm-9">{{ plant.updated_at }}</dd>
            </dl>
            <div class="text-muted mt-4">
                <small>
                    Created: {{ plant.created_at|date:"M d, Y H:i" }}<br />
                    Updated: {{ plant.updated_at|date:"M d, Y H:i" }}
                </small>
            </div>
            <a href="{% url 'plants' %}" class="btn btn-outline-secondary mt-4">← Back to Plants</a>
        </div>
    </div>
</div>
{% endblock %}
